.chat {
    flex: .65;
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    flex: 1;
    background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    margin-bottom: 20px;
}

.chat__reciever {
    margin-left: auto;
    background-color: #ebd34e;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}