.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #d8e1e9;
    background-color: white;
}

.sidebarChat:hover {
    background-color: #cfd5da;
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}